#about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    /* background: rgba(0,0,0,0.5); */
    /* border: 1px solid white; */
}
#about > .card{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    /* border: 1px solid white; */
}
#about > .card > .imgbx{
    /* border: 1px solid red; */
}
#about > .card > .deta{
    color: white;
    /* background: blue; */
}
#about > .card > .deta h1{
    /* text-align: center; */
    font-size: 40px;
    padding: 10px 0;
    width: 200px;
    border-bottom: 3px solid aqua;
}
#about > .card > .deta p{
    width: 80%;
    line-height: 30px;
    text-align: start;
    word-spacing: 10px;
    font-size: 20px;
}
#about > .card > .deta p > span{
    color: #009f55
}


@media only screen and (max-width: 800px){
    #about > .card{
        /* width: 80%; */
        left: 10px;
        /* border: 1px solid white; */
        flex-direction: column;
    }
    #about > .card > .imgbx img{
        width: 100%;
    }

    #about > .card > .deta{
        color: white;
        /* background: blue; */
    }
    #about > .card > .deta h1{
        /* text-align: center; */
        border-bottom: 3px solid aqua;
    }
    #about > .card > .deta p{
        /* border: 1px solid white; */
        text-align: center;
    }
}